package com.jldt.phantom.$!{moduleName}.mapper;

import com.jldt.phantom.common.base.BaseMapper;
import com.jldt.phantom.facade.entity.$!{moduleName}.$!{CLASS_NAME_UPCASE}Entity;
import org.apache.ibatis.annotations.Mapper;

/**
 * @Copyright (C), 2018, 上海金皿计算机科技有限公司
 * @ProjectName: Phantom
 * @FileName: $!{fileName}
 * @Author: system
 * @Date: $!{createDate}
 * @Description:
 * @email ==>> quzhigang@midaigroup.com | jing9241120@sina.com
 * @History: <author>          <time>          <version>          <desc>
 * 作者姓名           修改时间           版本号              描述
 */

@Mapper
public interface  $!{CLASS_NAME_UPCASE}Mapper extends BaseMapper<$!{CLASS_NAME_UPCASE}Entity>{

	String columns="$!{columns}";

}