package com.jldt.phantom.$!{moduleName}.mapper;

import com.jldt.phantom.common.base.BaseMapper;
import com.jldt.phantom.common.facade.entity.$!{moduleName}.$!{CLASS_NAME_UPCASE}Entity;
import org.apache.ibatis.annotations.Mapper;

/**
 * @Copyright (C), 2018, 久瓴（上海）科技有限公
 * @ProjectName: Phantom
 * @FileName: $!{fileName}
 * @Author: system
 * @Date: $!{createDate}
 * @Description:
 * @email ==>> quzhigang@midaigroup.com | shijunpeng@jlkj.net
 * @History: <author>          <time>          <version>          <desc>
 * 作者姓名           修改时间           版本号              描述
 */
public interface $!{CLASS_NAME_UPCASE}Mapper extends BaseMapper<$!{CLASS_NAME_UPCASE}Entity>{

	String columns="$!{columns}";

}