package com.jldt.phantom.$!{moduleName}.service.impl;

import org.springframework.stereotype.Service;
import com.jldt.phantom.$!{moduleName}.mapper.$!{CLASS_NAME_UPCASE}Mapper;
import com.jldt.phantom.common.base.BaseServiceImpl;
import com.jldt.phantom.common.facade.entity.$!{moduleName}.$!{CLASS_NAME_UPCASE}Entity;
import com.jldt.phantom.$!{moduleName}.service.$!{CLASS_NAME_UPCASE}Service;


/**
 * @Copyright (C), 2018, 久瓴（上海）科技有限公
 * @ProjectName: Phantom
 * @FileName: $!{fileName}
 * @Author: system
 * @Date: $!{createDate}
 * @Description:
 * @email ==>> quzhigang@midaigroup.com | shijunpeng@jlkj.net
 * @History: <author>          <time>          <version>          <desc>
 * 作者姓名           修改时间           版本号              描述
 */
@Service
public class $!{CLASS_NAME_UPCASE}ServiceImpl extends BaseServiceImpl<$!{CLASS_NAME_UPCASE}Entity> implements $!{CLASS_NAME_UPCASE}Service {

    private final $!{CLASS_NAME_UPCASE}Mapper $!{CLASS_NAME_LOWCASE}Mapper;

    public $!{CLASS_NAME_UPCASE}ServiceImpl($!{CLASS_NAME_UPCASE}Mapper $!{CLASS_NAME_LOWCASE}Mapper) {
    	super($!{CLASS_NAME_LOWCASE}Mapper);
    	this.$!{CLASS_NAME_LOWCASE}Mapper = $!{CLASS_NAME_LOWCASE}Mapper;
    }

}
