package com.jldt.phantom.$!{moduleName}.service;

import com.jldt.phantom.common.base.BaseService;
import com.jldt.phantom.common.facade.entity.$!{moduleName}.$!{CLASS_NAME_UPCASE}Entity;

/**
 * @Copyright (C), 2018, 久瓴（上海）科技有限公
 * @ProjectName: Phantom
 * @FileName: $!{fileName}
 * @Author: system
 * @Date: $!{createDate}
 * @Description:
 * @email ==>> quzhigang@midaigroup.com | shijunpeng@jlkj.net
 * @History: <author>          <time>          <version>          <desc>
 * 作者姓名           修改时间           版本号              描述
 */
public interface $!{CLASS_NAME_UPCASE}Service extends BaseService<$!{CLASS_NAME_UPCASE}Entity> {

}
